body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}
header {
    color:darkslateblue;
}
div{
    width: 80%;
    margin: 2% 8%;
    color:darkslateblue;
    padding: 5vh;
    border: 0.2rem solid darkslateblue;
    border-radius: 20px;
}
h1 {
    padding-top: 2vh;
    text-align: center;
}
hr {
    border-color: darkslateblue;
}
ul{
    list-style: square;
    width: 300px;
}
li{
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span{
    margin-right: 15px;
}

#bnt {
    text-decoration: none;
    border: 0;
    line-height: 2.5;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(4, 0, 220, 0.712);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#bnt:hover {
    background-color: rgb(115, 255, 0);
}

#bnt:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


button {
    border: 0;
    line-height: 2;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 0.884);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
    background-color: rgb(115, 255, 0);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
